/*this is a comment in .css file 
syntax for general css
*/

body {
    background-color: aquamarine;
}

#primary-heading {
color: blue;
border: 10px solid red; 
border-radius: 5px;
padding: 15px;
margin: 50px;
}

.heading-group {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* '*' means applies all elements */
*{
    padding: 0;
    margin: 0;
}

